@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
<<<<<<< HEAD
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
}

html {
    scroll-behavior: smooth;
}

<<<<<<< HEAD
body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
=======
li {
    list-style-type: none;
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
}

p {
    line-height: 1.5;
<<<<<<< HEAD
=======
    font-size: 16px;
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
}

a {
    text-decoration: none;
}

<<<<<<< HEAD
a:hover {
    text-decoration: underline;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: 700;
    padding: 8px;
}

.text--purple {
    color: #7342d6;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/*MENU*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*LNADING*/

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh-80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 24px;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 20px;
}

/*
.button__container {
    display: flex;
    justify-content: center;
}
*/

.header__img--wrapper {
    padding: 20px;
}

.container {
    padding: 56px 0;
=======
section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

input, textarea {
    width: 100%;
    background-color: rgb(24, 24, 24);
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 36px;
}

.input:hover, textarea:hover {
    border-color: #fff;
}

.input:focus, textarea:focus {
    border-color: rgb(74, 164, 74);
}

.container {
    padding: 50px 0;
    width: 100%;
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
}

.row {
    width: 100%;
<<<<<<< HEAD
    max-width: 1200px;
    margin: 0 auto;
}

/*HIGHLIGHTS*/

#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    transform: translateY(-100%);
    top: 1px;
}

#highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__img {
    border: 2px solid #7342d65d;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

/*FEATURED*/

#featured {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

/*
@keyframes book-img-animation {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.1);
    }
}
    */
.book:hover .book__img {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/*RECENT*/

/*EXPLORE*/

#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

.button--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-cursor {
    cursor: no-drop;
=======
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.title {
    font-size: 100px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.green {
    color: rgb(74, 164, 74)
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: rgb(74, 164, 74);
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

nav, 
.scroll,
.header,
.email__btn {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}

.modal--open nav, 
.modal--open .scroll,
.modal--open .header,
.modal--open .email__btn {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title, 
.dark-theme .section__subtitle,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para,
.dark-theme .fa-angle-down {
    color: white;
}

.dark-theme section{
    background-color: rgb(24, 24, 24);
}

/*LANDING PAGE*/

#landing {
    min-height: 100vh;
}

.header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 500px;
}

.lighter__opacity {
    opacity: 70%;
}

.social__links {
    display: flex;
    margin-top: 16px;
}

.social__link {
    font-size: 30px;
    margin-right: 32px;
    color:rgb(74, 164, 74);
    cursor: pointer;
    transition: transform 300ms ease;
}

.social__link:hover {
    transform: translateY(-6px)
}

.click {
    transition: all 300ms;
}

.click:hover {
    cursor: pointer;
}

.click:active {
    transform: scale(.8);
}

@keyframes bump {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-10px)
    }
    100% {
        transform: translateY(0)
    }
}

.arrow__bump {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: bump 1s infinite ease-in-out;
    display: inline-block;
    z-index: 10;
}

/*NAVIGATION*/

#personal__logo {
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    top: 50%;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.link__hover-effect {
    transition: all 300ms ease;
}

.link__hover-effect:hover {
    color:rgb(74, 164, 74)
}

.fa-circle-half-stroke {
    font-size: 32px;
    transition: all 300ms ease;
}

.fa-circle-half-stroke:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.email__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50px;
    background-color: rgb(24, 24, 24);
    color: white;
    transition: all 300ms ease;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 3;
}

.dark-theme #personal__logo {
    filter: invert();
}

.email__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*MODAL*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about {
    transform: translateX(0%);
}

.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal__contact {
    background-color: rgb(24, 24, 24);
    transform: translateX(110%);
}

.modal__title--contact, .modal__subtitle--contact, .form__item--label {
    color: white;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

/*LANGUAGES*/

.modal__languages {
    display: flex;
    align-items: baseline;
}

.modal__language {
    width: 25%;
    padding: 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal__language--img {
    width: 100%;
    transition: all 300ms ease;
}

.language__caption--js {

}

.modal__language--caption {
    transform: scale(0);
    position: absolute;
    bottom: -10px;
    transition: all 300ms ease;
}

.modal__language:hover .modal__language--caption {
    transform: scale(1);
}

.modal__language:hover .modal__language--img {
    transform: scale(0.9);
    opacity: 0.8;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.modal__overlay--loading {
    background-color: rgb(74, 164, 74);
    font-size: 80px;
}

.modal__overlay--success {
    background-color: rgb(24, 24, 24); 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px 28px;
    color: rgb(74, 164, 74);
}

.fa-spinner {
    animation: spinner 1000ms infinite;
    color: #fff;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/*LANGUAGES END*/

.modal__title {
    font-size: 26px;
}

.modal__subtitle {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.modal__img--react {
    margin-bottom: 5px;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: rgb(74, 164, 74);
    border: 2px solid rgb(74, 164, 74);
    color: #fff;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.form__submit:active {
    border-color: rgb(74, 164, 74);
    color: rgb(74, 164, 74);
}

/*PROJECTS*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #1c1d25;
    transition: all 300ms ease;
}

.project__description--title {
    font-size: 40px;
}

.project__description--subtitle {
    margin-top: 8px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

.project:nth-child(n+2) {
    padding-top: 160px;
}

.project:last-child {
    padding-bottom: 100px;
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
}

/*FOOTER*/

footer {
<<<<<<< HEAD
    background-color: #242424;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.row__column {
=======
    background-color: rgb(24, 24, 24);
    display: flex;
    padding: 6% 0;
    position: relative;
}

.footer__row {
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
.footer__list {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }
}


@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    
    .btn__menu {
        display: block;
    }

    .highlight {
        width: 100%;
        margin-bottom: 24px;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
=======
.footer__logo--img {
    filter: invert(100%);
    width: 70px;
}

.footer__social--list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin-bottom: 20px;
}

.footer__social--link, .footer__copyright {
    color: white;
}

.shape {
    position: fixed;
    z-index: 0;
}

.shape-0 {
    top: 15vh;
    left: 5vw;
}
.shape-1 {
    top: 15vh;
    left: 50vw;
}
.shape-2 {
    top: 15vh;
    left: 80vw;
}
.shape-3 {
    top: 50vh;
    left: 5vw;
}
.shape-4 {
    top: 50vh;
    left: 50vw;
}
.shape-5 {
    top: 50vh;
    left: 80vw;
}
.shape-6 {
    top: 80vh;
    left: 5vw;
}
.shape-7 {
    top: 80vh;
    left: 50vw;
}
.shape-8 {
    top: 80vh;
    left: 80vw;
}

@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }
    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    } 
    .header__para {
        font-size: 18px;
    }
    .nav__link:first-child {
        display: none;
    }
    .project__description--para {
        display: none;
    }
    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .project__description--subtitle {
        margin-bottom: 8px;
    }
    .modal__half {
        padding: 40px;
>>>>>>> cbc840be561b1dd87223d64ebb121c749209e1a4
    }
}